@extends('layouts.admin')

@section('title',"Edition %%modelName%% #{{ $%%crudNameSingular%%->%%primaryKey%% ")
@section("content")
<div class="row">

@include('admin.includes.promoteur-menu-top')
@include('admin.includes.promoteur-menu-profil')
    <div class="col-md-7 col-lg-8">
        <div class="card mb-5">
            <header class="card-header bg-light_ border-bottom">
                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="h4 text-uppercase card-header-title text-bold">
                        Edition (Exercice)
                    </h2>
                    <a href="{{ url('/%%routeGroup%%%%viewName%%?promoteur_id='.$promoteur->id) }}" title="Back"><button class="btn btn-outline-primary btn-xs mt20"><i class="ti-arrow-left" aria-hidden="true"></i> Retour</button>
                    </a>
                        <!-- End Card Icons -->
                </div>

                <span class="text-muted">Edition %%modelName%% </span>
            </header>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="h-100">
                        <div class="car h-100 pt-4">
                            <div class="card-body pt-0">

                                    @if ($errors->any())
                                        <ul class="alert alert-danger">
                                            @foreach ($errors->all() as $error)
                                                <li>{{ $error }}</li>
                                            @endforeach
                                        </ul>
                                    @endif

                                    {!! Form::model($%%crudNameSingular%%, [
                                        'method' => 'PATCH',
                                        'url' => ['/%%routeGroup%%%%viewName%%', $%%crudNameSingular%%->%%primaryKey%%],
                                        'class' => 'form-horizontal',
                                        'files' => true
                                    ]) !!}

                                    @include ('%%viewTemplateDir%%.form', ['submitButtonText' => 'Mettre à jour'])

                                    {!! Form::close() !!}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
