@extends('layouts.admin')

@section('title','Affichage %%crudNameCap%%')
@section('content')
<div class="row">
    @include('admin.includes.promoteur-menu-top')
    @include('admin.includes.promoteur-menu-profil')
    <div class="col-md-7 col-lg-8">
        <div class="card mb-5">
            <header class="card-header bg-light border-bottom">
                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="h4 text-uppercase card-header-title text-primary">
                        Exercice #{{ $exercice->id }}
                    </h2>
                    <a href="{{ url('/%%routeGroup%%%%viewName%%?promoteur_id='.$promoteur->id) }}" title="Back"><button class="btn btn-outline-primary btn-xs mt20"><i class="ti-arrow-left" aria-hidden="true"></i> Retour</button></a>
                    <!-- End Card Icons -->
                </div>

            <span class="text-muted">Affichage %%modelName%%</span>
            </header>
            <div class="card-body pt-3">
                <br/>
                <br/>

                <div class="table-responsive">
                    <table class="table table-sm table-hover table-borderless">
                        <tbody>
                            <tr>
                                <th width="25%" class="">#</th><td >{{ $%%crudNameSingular%%->%%primaryKey%% }}</td>
                            </tr>
                            %%formBodyHtmlForShowView%%
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
